DATABASE_URL="postgresql://aiverse:aiverse@localhost:5432/aiverse?schema=public"
DIRECT_URL="postgresql://aiverse:aiverse@localhost:5432/aiverse"
REDIS_URL="redis://:aiverse@localhost:6379"
AUTH_SECRET="replace-with-a-strong-64-char-secret"
GEMINI_API_KEY=""
OPENROUTER_API_KEY=""
RESEND_API_KEY=""
STRIPE_SECRET=""
STRIPE_WEBHOOK_SECRET=""
NODE_ENV="development"
