@import "tailwindcss";

@theme {
  --color-background: #0b0b0b;
  --color-foreground: #ededed;
  --color-primary: #3b82f6;
  --color-muted: #9ca3af;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
